<div class="row">
  <ngx-spinner></ngx-spinner>
  <div class="col-sm-12">
    
    <app-card cardTitle="User Password" [options]="false">
      
      

      <app-alert type="info"  dismiss="true">
        <span class="text-center text-danger font-weight-bolder"> 
          There is a verification code required to change password and it's get in your email address also provide authentic information
        </span>
      </app-alert>

      <button class="btn btn-block btn-sm btn-primary mb-4"
        *ngIf="form.verifycode" (click)="promptAlert()">Send Varifycode</button>

      <form class="m-t-20" #signupForm=ngForm (ngSubmit)="onSubmit()">

        <div class="alert alert-success" [hidden]="!success" *ngFor="let item of success">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{item}}
        </div>


        <div class="alert alert-warning" [hidden]="!errors" *ngFor="let item of errors">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{item}}
        </div>

        <!-- <div class="input-group input-group-sm mb-4">
          <input type="password" class="form-control" 
          name="current_password" [(ngModel)]="form.current_password"
          placeholder="Current Password" aria-label="Current Password" aria-describedby="forCurPassword" required>

          <div class="input-group-prepend">
            <span class="input-group-text" id="forCurPassword">Required </span>
          </div>
        </div> -->

        <div class="input-group input-group-sm mb-4">
          <input type="password" class="form-control" 
          name="password" [(ngModel)]="form.password"
          placeholder="Password" aria-label="Password" aria-describedby="forPassword" required>

          <div class="input-group-prepend">
            <span class="input-group-text" id="forPassword">Required </span>
          </div>
        </div>

        <div class="input-group input-group-sm mb-4">
          <input type="password" class="form-control" 
          name="confirm_password" [(ngModel)]="form.confirm_password"
          placeholder="Confirm Password" aria-label="Confirm Password" aria-describedby="forConPassword" required>

          <div class="input-group-prepend">
            <span class="input-group-text" id="forConPassword">Required </span>
          </div>
        </div>




        <button class="btn btn-block btn-sm btn-primary mb-4"
        [disabled]="!signupForm.valid">Update ...</button>
      
      </form>
    
    
    </app-card>
  </div>
</div>
