<div class="auth-wrapper">
  <ngx-spinner></ngx-spinner>
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4">

            
            <h4 class="mb-3 f-w-400">Reset your password</h4>


            <!-- <div class="input-group mb-4">
              <input type="email" class="form-control" required="required"
              placeholder="Email address" [(ngModel)]="form.email">
            </div>
            
            <button class="btn btn-block btn-sm btn-primary mb-4"
            *ngIf="form.verifycode" (click)="promptAlert()">Send Varifycode</button>
            <button class="btn btn-block btn-sm btn-primary mb-4"
            *ngIf="!form.verifycode" (click)="submit()">Reset password</button> -->

            

            <!-- <div class="form-group mb-3">
              <input type="email" id="text" name="email" [(ngModel)]="form.email"
              class="form-control" placeholder="Email Address">
            </div>

            <div class="form-group mb-3">
              <input type="text" id="text" name="username" [(ngModel)]="form.username"
              class="form-control" placeholder="User Id">
            </div> -->
            

            <form #resetForm=ngForm (ngSubmit)="onSubmit()">

              <div class="alert alert-success" [hidden]="!success" *ngFor="let item of success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{item}}
              </div>
    
    
              <div class="alert alert-warning" [hidden]="!errors" *ngFor="let item of errors">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{item}}
              </div>



            <div class="input-group input-group-sm mb-4">
              <input type="text" class="form-control" 
              name="username" [(ngModel)]="form.username"
              placeholder="UserID" aria-label="UserID" aria-describedby="forUserID" required>
    
              <div class="input-group-prepend">
                <span class="input-group-text" id="forUserID">Required </span>
              </div>
            </div>


            <div class="input-group input-group-sm mb-4">
              <input type="email" class="form-control" 
              name="email" [(ngModel)]="form.email"
              placeholder="Email" aria-label="Email" aria-describedby="forEmail" required>
    
              <div class="input-group-prepend">
                <span class="input-group-text" id="forEmail">Required </span>
              </div>
            </div>

            <div class="input-group input-group-sm mb-4">
              <input type="password" class="form-control" 
              name="password" [(ngModel)]="form.password"
              placeholder="Password" aria-label="Password" aria-describedby="forPassword" required>
    
              <div class="input-group-prepend">
                <span class="input-group-text" id="forPassword">Required </span>
              </div>
            </div>
    
            <div class="input-group input-group-sm mb-4">
              <input type="password" class="form-control" 
              name="confirm_password" [(ngModel)]="form.confirm_password"
              placeholder="Confirm Password" aria-label="Confirm Password" aria-describedby="forConPassword" required>
    
              <div class="input-group-prepend">
                <span class="input-group-text" id="forConPassword">Required </span>
              </div>
            </div>
    
            <button class="btn btn-block btn-sm btn-primary mb-4"
            [disabled]="!resetForm.valid">Reset Password ...</button>

          </form>
          <button class="btn btn-block btn-sm btn-primary mb-4"
          *ngIf="form.verifycode" (click)="promptAlert()">Send Varifycode</button>
            
            
            
            <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/auth/signin']" class="f-w-400">Signin</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ reset-password ] end -->
</div>
