<div class="row">
  <ngx-spinner></ngx-spinner>
  <div class="col-sm-12">
    
    <app-card cardTitle="Create Student" [options]="false">
      
      <app-alert type="info"  dismiss="true">
        <span class="text-center text-danger font-weight-bolder"> 
          Please create Student or user with proper information
        </span>
      </app-alert>

      <!-- <form class="m-t-20" #signupForm=ngForm (ngSubmit)="onSubmit()"> -->
        <form class="m-t-20" #signupForm=ngForm>

        <div class="alert alert-success" [hidden]="!success" *ngFor="let item of success">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{item}}
        </div>


        <div class="alert alert-warning" [hidden]="!errors" *ngFor="let item of errors">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{item}}
        </div>


        <div class="input-group input-group-sm mb-3">
          <input type="text" class="form-control" 
          name="username" [(ngModel)]="form.username"
          placeholder="Input Username" disabled aria-label="Input Username" aria-describedby="forUsername" required>

          <div class="input-group-prepend">
            <span class="input-group-text" id="forUsername">Required </span>
          </div>
        </div>

        <div class="input-group input-group-sm mb-3">
          <input type="text" class="form-control" 
          name="name" [(ngModel)]="form.name"
          placeholder="Input Full Name" aria-label="Input Full Name" aria-describedby="forName" required>

          <div class="input-group-prepend">
            <span class="input-group-text" id="forName">Required </span>
          </div>
        </div>

        <div class="input-group input-group-sm mb-3">
          <input type="email" class="form-control"
          name="email" [(ngModel)]="form.email"
          placeholder="Input Email" aria-label="Input Email" aria-describedby="forEmail" required>

          <div class="input-group-prepend">
            <span class="input-group-text" id="forEmail">Required </span>
          </div>
        </div>

        <div class="input-group input-group-sm mb-4">
          <input type="text" class="form-control" 
          name="contact" [(ngModel)]="form.contact"
          placeholder="Contact Number" aria-label="Contact Number" aria-describedby="forContact" required>

          <div class="input-group-prepend">
            <span class="input-group-text" id="forContact">Required </span>
          </div>
        </div>

        <div class="input-group input-group-sm mb-4">
          <input type="text" class="form-control" 
          name="profession" [(ngModel)]="form.profession"
          placeholder="Profession" aria-label="Profession" aria-describedby="forProfession" required>

          <div class="input-group-prepend">
            <span class="input-group-text" id="forProfession">Required </span>
          </div>
        </div>

        <div class="input-group input-group-sm mb-4">
          <input type="text" class="form-control" 
          name="district" [(ngModel)]="form.district"
          placeholder="District" aria-label="District" aria-describedby="forDistrict" required>

          <div class="input-group-prepend">
            <span class="input-group-text" id="forDistrict">Required </span>
          </div>
        </div>

        <div class="input-group input-group-sm mb-4">
          <input type="text" class="form-control" 
          name="address" [(ngModel)]="form.address"
          placeholder="Address" aria-label="Address" aria-describedby="forAddress" required>

          <div class="input-group-prepend">
            <span class="input-group-text" id="forAddress">Required </span>
          </div>
        </div>

        

        <div class="input-group input-group-sm mb-3">
          <select  class="custom-select" id="forpos" name="gender" [(ngModel)]="form.gender" required>
            <option value="">Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
          <div class="input-group-append">
            <label class="input-group-text" for="forpos">Required </label>
          </div>
        </div>

<!--         
        <div class="input-group input-group-sm mb-3">
          <select  class="custom-select" id="forpos" name="type" [(ngModel)]="form.type" required>
            <option value="">Select Account type</option>
            <option value="Current">Current</option>
            <option value="Saving">Saving</option>
          </select>
          <div class="input-group-append">
            <label class="input-group-text" for="forpos">Required </label>
          </div>
        </div>

        <div class="input-group input-group-sm mb-3">
          
          <ng-select [ngClass]="'ng-select'" name="bank"
            [options]="banks" [(ngModel)]="form.bank"
            class="custom-select" id="fordla" 
            aria-describedby="inputGroup-sizing-sm" required>
          </ng-select>

          <div class="input-group-prepend">
            <label class="input-group-text" id="inputGroup-sizing-sm" for="fordla">Required </label>
          </div>
        </div>


        <div class="input-group input-group-sm mb-3">
          
          <ng-select [ngClass]="'ng-select'" name="rank"
            [options]="ranks" [(ngModel)]="form.rank"
            class="custom-select" id="fordla1" 
            aria-describedby="inputGroup-sizing-sm" required>
          </ng-select>

          <div class="input-group-prepend">
            <label class="input-group-text" id="inputGroup-sizing-sm" for="fordla1">Required </label>
          </div>
        </div> -->


        <div class="input-group input-group-sm mb-4">
          <input type="password" class="form-control" 
          name="password" [(ngModel)]="form.password"
          placeholder="Password" aria-label="Password" aria-describedby="forPassword" >

          <div class="input-group-prepend">
            <span class="input-group-text" id="forPassword">Required </span>
          </div>
        </div>

        <div class="input-group input-group-sm mb-4">
          <input type="password" class="form-control" 
          name="password_confirmation" [(ngModel)]="form.password_confirmation"
          placeholder="Confirm Password" aria-label="Confirm Password" aria-describedby="forConPassword" >

          <div class="input-group-prepend">
            <span class="input-group-text" id="forConPassword">Required </span>
          </div>
        </div>

        <button *ngIf="!isUpdate" class="btn btn-block btn-sm btn-primary mb-4"
        [disabled]="!signupForm.valid" (click)="submitForm()" >Create ...</button>

        <button *ngIf="isUpdate" class="btn btn-block btn-sm btn-primary mb-4"
        [disabled]="!signupForm.valid" (click)="updateForm()">Update ...</button>
      
      </form>
    
    
    </app-card>
  </div>

  
  <div class="col-sm-12">
    <app-card cardTitle="Student List " cardClass="card-datatable" [options]="false">
      <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
        <br>
      <div class="table-responsive">
        <table class="table table-striped1 table-bordered1 nowrap table-hover">
          <thead>
          <tr>
            
            <th>#</th>
            
            <th>Action</th>
            <th>Student </th>
            <th> ID </th>
            <!-- <th> AC. NO </th> -->
            <!-- <th>Balance </th> -->
            <!-- <th>Rank </th>
            <th>Bank </th>
            <th>Branch </th> -->

            <th>Email </th>
            <th>Contact </th>
            <th>Address </th>
            <th>Gender </th>
            
            <th>Creadted On</th>
            <!-- <th>Updated On</th> -->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users| filter:term; let i = index">
            <td>{{i + 1}}</td>
            <td>
              
              
              <span class="text-info" style="cursor: pointer;" (click)="update(user)">
                <i class="fas fa-edit"></i>
              </span>
              &nbsp;|&nbsp;
              <span class="text-danger" style="cursor: pointer;" (click)="delete(user)">
                <i class="fas fa-trash-alt"></i>
              </span>
          </td>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <!-- <td>{{user.acno}}</td> -->
            <!-- <td>{{user.balance | currency:'BDT':'symbol-narrow'}}</td> -->
            
            <!-- <td>{{user.rank}}</td>
            <td>{{user.bank}}</td>
            <td>{{user.branch}}</td> -->
            <!-- <td>{{user.bank['name']}}</td> -->
            <!-- <td>{{user.bank['branch']['name']}}</td>   -->
            

            <td>{{user.email}}</td>
            <td>{{user.contact}}</td>
            <td>{{user.address}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.created_at| date:"dd-MM-yy"}}</td>
            <!-- <td>{{user.updated_at}}</td> -->
            
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>



</div>
