<div class="row">
  <ngx-spinner></ngx-spinner>
  <div class="col-sm-12">
    <app-card cardTitle="Hello Card">
      <p class="text-center text-danger text-bold m-t-20">This is superadmin settings</p>
      <p class="p-t-20">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      <button class="btn btn-primary btn-md" (click)="btnOpen()"> Toaster Open</button>
      <button class="btn btn-primary btn-md" (click)="btnClose()"> Toaster Close</button>
    </app-card>
  </div>


</div>
