<div class="row">
  <ngx-spinner></ngx-spinner>
  <div class="col-sm-12">
    <app-card [hidHeader]="true" cardClass="tab-card">
      
      <ngb-tabset>
        <ngb-tab title="FAQ">
          <ng-template ngbTabContent>
            <!-- collaps -->

            <ngb-accordion [closeOthers]="true" activeIds="static-1" class="able-pro-accordion">
              <ngb-panel id="static-1">
                <ng-template ngbPanelTitle>
                  <h5><a href="javascript:" class="text-danger">What is VizzClub and how does it work?</a></h5>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-info">
                    VizzClub is an online marketing program created by the people for the people. The program operates on a self-executing smart contract on the Vizz Blockchain.
                  </p>
                  <p class="text-info">
                    VizzClub is a Smart Contract earnings program that you work from home at your own leisure. It is based on the particular features of the Vizz cryptocurrency and it enables you to earn a long term residual income just by reffering this to 2 other people and asking them to do the same as you.
                  </p>

                  <p class="text-info">
                    One important reason that makes VizzClub important is the personal development that comes from helping other people succeed. It is very rewarding to lift other people and watch them become better every day. With VizzClub, you grow as your business grows.
                  </p>

                </ng-template>
              </ngb-panel>
              <ngb-panel id="static-2">
                <ng-template ngbPanelTitle>
                  <h5><a href="javascript:" class="text-danger">What is the minimum withdrawal on VizzClub?</a></h5>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-info">
                    This Fund show you how to withdraw from  in simple steps. Accumulating a minimum of 100 Vizz which equals 10 Dollars.
                  </p>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="static-3">
                <ng-template ngbPanelTitle>
                  <h5><a href="javascript:" class="text-danger">How many ranks have in VizzClub ?</a></h5>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-info font-weight-bold"> There are nine types of rank in VizzClub also given below details</p>
                  



                  <ol>
                    <li class="text-info">L10 R10 Promote Officer</li>
                    <li class="text-info">L50 R50 Affiliate Officer</li>
                    <li class="text-info">L100 R100 Marketing Officer</li>
                    <li class="text-info">L500 R500 Brand Officer</li>
                    <li class="text-info">L1000 R1000 Intelligent Officer</li>
                    <li class="text-info">L2000 R2000 Deputy General </li>
                    <li class="text-info">L5000 R5000 General Manager </li>
                    <li class="text-info">L10000 R10000 Chief Officer </li>
                    <li class="text-info">5:3 Conqueror, Director Of VizzClub </li>
                  </ol>
                </ng-template>

              </ngb-panel>

              <ngb-panel id="static-4">
                <ng-template ngbPanelTitle>
                  <h5><a href="javascript:" class="text-danger">How much royalty of VizzClub is to distribute in month?</a></h5>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-info font-weight-bold"> There are nine types of rank in VizzClub also given below details</p>
                

                  <ol>
                    <li class="text-info">L10 R10 Promote Officer 25%</li>
                    <li class="text-info">L50 R50 Affiliate Officer 15%</li>
                    <li class="text-info">L100 R100 Marketing Officer 15%</li>
                    <li class="text-info">L500 R500 Brand Officer 10%</li>
                    <li class="text-info">L1000 R1000 Intelligent Officer 10%</li>
                    <li class="text-info">L2000 R2000 Deputy General 10%</li>
                    <li class="text-info">L5000 R5000 General Manager 5% </li>
                    <li class="text-info">L10000 R10000 Chief Officer 5% </li>
                    <li class="text-info">5ঃ3 CO, Director Of VizzClub 5% </li>
                  </ol>
                </ng-template>

              </ngb-panel>

              <ngb-panel id="static-5">
                <ng-template ngbPanelTitle>
                  <h5><a href="javascript:" class="text-danger">What is the future of online marketing??</a></h5>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p class="text-info">
                    The industry that has created maximum millionaires in world. Online marketing is the future of business in the 21st century. In all good terms, it rightly has evolved over time. Beginning as a part-time job, direct selling has now a proper path in career building opportunities.
                  </p>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <!-- collaps -->
          </ng-template>
        </ngb-tab>
        <ngb-tab title="About VC">
          <ng-template ngbTabContent>
            <p class="text-info">VizzClub is an International online marketing company that sells software, cryptocurrency and garments products.
              <br>
              <b>Founded: December 16, 2019, United States.</b> 
              <br>
              <b>Parent organization: Vizz International.</b>
            </p>
          </ng-template>
        </ngb-tab>




        <ngb-tab title="Opportunities ">
          <ng-template ngbTabContent>
            <ol>
              <li class="text-info">Membership</li>
              <li class="text-info">Reference</li>
              <li class="text-info">Team Performance</li>
              <li class="text-info">VM Royalty</li>
              <li class="text-info">V-Club</li>
              <li class="text-info">Brand Commission</li>
              <li class="text-info">Intelligent Profit</li>
              <li class="text-info">Rank Incentive </li>
              <li class="text-info">Christmas & Eid Gift</li>
              <li class="text-info">Honeymoon</li>
              <li class="text-info">After Death Support</li>
              <li class="text-info">Education & Health Support</li>
              <li class="text-info">Person With Disability Support</li>
            </ol>
          </ng-template>
        </ngb-tab>






      </ngb-tabset>
    </app-card>
  </div>
</div>